{% extends "template.html" %}
{% block title %}
<title> Game - chat page</title>
{% endblock %}
{% block js %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="/static/js/papaparse.min.js"></script>
<script type="text/javascript" src="/static/js/chat.js"></script>


{% endblock %}
{% if money %}
{% block navbar %}
<li class="active"><a href="#">BANK: ${{money}}</a></li>
{% endblock %}
{% endif %}



{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Money Dialog</h4>
      </div>
      <form name="moneymodal1" id="moneymodal1" action="#" method='POST'> 
      <div class="modal-body">
        <input type="number" name="money_amount" id="money" placeholder="enter money amount"> </input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="send"></input>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% if session.role == 'judge' %}
{% if session.results %}
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading"> results for tester1 and tester2 </div>
      <div class="panel-body">
        {% autoescape false %}
        {{ session.results }}
        {% endautoescape %}
      </div>
    </div>
  </div>
  </div>
  {% endif %}
	<div class="row ">
		<div class="col-sm-6" >
			<div class="panel panel-default">
				 <div class="panel-heading">Chat for tester1:</div>
				<div class="panel-body" id="log">
  				</div>
			</div>
		</div>
		<div class="col-sm-6" >
			<div class="panel panel-default">
				 <div class="panel-heading">Chat for tester2:</div>
				 <div class="panel-body" id="log2">
  				 </div>
			</div>
		</div>
	</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Money Dialog</h4>
      </div>
      <form name="moneymodal2" id="moneymodal2" action="#" method='POST'> 
      <div class="modal-body">
        <input type="number" name="money_amount2" id="money2" placeholder="enter money amount"> </input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="send"></input>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
  <div class="col-sm-6">
  	<form name="message" id="broadcast" action="#" >
    <div class="input-group">
<span class="input-group-btn">
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" aria-haspopup="true" aria-expanded="false">$ </button>
	</span><!-- /btn-group -->
      <input type="text" class="form-control" name="usermsg" id="usermsg" placeholder="enter chat">
      <span class="input-group-btn">
        <input class="btn btn-default" name="submitmsg" id="submitmsg" type="submit" value="Enter"></input>
      </span>
  </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

<div class="row">
  <div class="col-sm-6">
    <form name="message2" id="broadcast2" action="#">
    <div class="input-group">
<span class="input-group-btn">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" aria-haspopup="true" aria-expanded="false">$ </button>
  </span><!-- /btn-group -->
      <input type="text" class="form-control" name="usermsg2" id="usermsg2" placeholder="enter chat">
      <span class="input-group-btn">
        <input class="btn btn-default" name="submitmsg2" id="submitmsg2" type="submit" value="Enter"></input>
      </span>
  </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

</div>

{% else %}
	<div class="row ">
		<div class="col-sm-12" >
			<div class="panel panel-default">
				 <div class="panel-heading">Chat with judge:</div>
				<div class="panel-body" id="log">
  				</div>
			</div>
		</div>
	</div>
	<div class="row">
	 <div class="col-sm-12">
  	<form name="message2" id="broadcast3" action="#" method='POST'>
          <div class="input-group">
    <span class="input-group-btn">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" aria-haspopup="true" aria-expanded="false">$ </button>
  </span><!-- /btn-group -->

      <input type="text" class="form-control" name="usermsg3" id="usermsg3" placeholder="Enter chat">
      <span class="input-group-btn">
        <input class="btn btn-default" name="submitmsg3" id="submitmsg3" type="submit" value="Enter"></input>
      </span>
  </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
{% endif %}

</div>

{% endblock %}




