<!-- extend base layout -->
{% extends "template.html" %}
{% block title %}
<title> Game - login page</title>
{% endblock %}

{% block content %}
	<div class="row ">
		<div class="col-sm-12" >
			<div class="panel panel-default">
				 <div class="panel-heading">Instructions for pre-login screen</div>
				<div class="panel-body" id="instruction1">
                    <h5 style="word-wrap: break-word;">
                        You are now logged in.
                    </h5>
                    <h5>
                        Today you’ll be either playing or judging a simple game and getting paid to do so!
  				    </h5>
                    <h5>
                        CLick on the login button on the upper right corner and use admin/admin to login.
  				    </h5>

                </div>
			</div>
		</div>
	</div>
{% endblock %}
