<!-- extend base layout -->
{% extends "template.html" %}
{% block title %}
<title> Game - color_instruction page</title>
{% endblock %}

{% block content %}
	<div class="row ">
		<div class="col-sm-12" >
			<div class="panel panel-default">
				 <div class="panel-heading">Instructions for color stroop game</div>
				<div class="panel-body" id="instruction1" style="font-size:32px;">
                    <h5>
                  Hello!
                    </h5>
                    <h5>
                        It looks like you’ll be judging our game here today. What you’ll have to do is rather simple, each round the players will be compete in providing a series of 10 responses. They are shown a word which is both the name of a color and written in a colored font, their goal is to correctly identify the font color. You’ll be given a score sheets like the one at right. The winner should be whoever had the most correct responses, if there’s a tie you may select the winner based faster reaction times.
                    </h5>

                </div>
			</div>
            <div class="col-sm-3 col-sm-offset-9">
      <button type="button" class="btn btn-primary btn-lg " id="continue_button" onclick="location.href = '/chat'">Continue >></button>
    </div>
		</div>
	</div>
{% endblock %}
