<!-- extend base layout -->
{% extends "template.html" %}
{% block title %}
<title> Game - login page</title>
{% endblock %}

{% block content %}
	<div class="row ">
		<div class="col-sm-12" >
			<div class="panel panel-default">
				 <div class="panel-heading">Instructions</div>
				<div class="panel-body" id="instruction1">
                    <h5 style="word-wrap: break-word;">
                       Hello! Welcome to our experiment today, and thank you for volunteering to participate with us. Today you’ll be either playing or judging a simple game and getting paid to do so!
                    </h5>
                    <h5 style="word-wrap: break-word;">
                       First time log in you can log in as tester1. Our judge will be judging in remotely. Use credentials admin/admin to log in.
                    </h5>

                </div>
			</div>
		</div>
	</div>
{% endblock %}
